
/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  background: rgba(255, 255, 255, 0.5);
}

header video, header img {
  width: 300px;
  margin-top: 20px;
  margin-left: 20px;
}

/* Navigation */
nav ul {
  padding-top: 20px;
  list-style: none;
  margin: 0;
  font-family: Comfortaa, sans-serif;
}
nav li {
  padding-top: 0px;
  display: inline-block;
  font-family: Comfortaa, sans-serif;
}
nav a {
  color: #627fa3;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 8px;
  font-family: Comfortaa, sans-serif;
  font-size: 25px;
  margin-left: 20px;
}
nav a:hover {
  color: #434881;
}

.howItWorks {
  width: calc(100% - 40px);
  height: 600px;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #d6bbad;
  display: flex;
  box-sizing: border-box;
}
.whyUs {
  width: calc(100% - 40px);
  height: 600px;
  padding: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #6ea79e;
  display: flex;
  box-sizing: border-box;
}
.feedback {
  width: calc(100% - 40px);
  height: 600px;
  padding: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #98aeb1;
  display: flex;
  box-sizing: border-box;
}
.OurTeam {
  width: calc(100% - 40px);
  height: 600px;
  padding: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #627fa3;
  display: flex;
  box-sizing: border-box;
}

/* MAIN*/

/*containers*/

main {
  display: flex;
  flex-direction: row;
}

h2 {
  font-family: "Finger Paint", Comfortaa, sans-serif;
  color: #6EA79E;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* left container*/
.left-container,
.right-container {
  flex: 1;
  padding: 20px;
}

.left-container {
  background-color: #ffffff;
  margin-right: 10px;
  border-radius: 10px; 
  border: 1px solid #98AEB1; 
}

/* right container*/
.right-container {
  background-color: #ffffff;
  margin-left: 10px;
  border-radius: 10px; 
  border: 1px solid #98AEB1; 
}

/* btns to open the rooms and boxes*/
.collapse {
  color: #627fa3;
}

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: var(--bs-emphasis-color);
  background-color: transparent;
  margin-top: 1px;
}

.btn-toggle:hover,
.btn-toggle:focus {
  color: #627FA3;
  background-color: var(--bs-tertiary-bg); 
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: #627fa3;
}

.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: var(--bs-tertiary-bg); 
}

.scrollarea {
  overflow-y: auto;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #434881; 
    background-color: transparent;
    outline: none; 
}

.link-body-emphasis {
  color: #627FA3; 
}

.link-item {
  display: inline-flex;
  text-decoration: none;
  color: #6EA79E;
  border-radius: 8px; 
}

/* Big Buttons*/
.btn2 {
  color: #ffffff;
  background-color: #6EA79E;
  font-size: 16px;
  margin: 8px;
  padding: 10px;
  border-radius: 10px; 
  border: 0.2px solid #6EA79E; 
}

/*placeholder?*/
input[type="text"] {
  border-radius: 10px; 
  border: 1px solid #6EA79E;
  width: 70%; 
  padding: 10px; 
}
input[type="text"]:focus {
  border-color: #627FA3; 
  border-width: 2px; 
  outline: none;
}
input[type="text"]::placeholder {
  color: #627FA3; 
  font-size: 16px; 
  padding: 10px; 
}

/*BOXES*/

.box-container {
  display: flex;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  margin-right: 10px;
}
/*boxes' colours*/

.box:nth-child(1) {
  background-color: #D6BBAD;
}

.box:nth-child(2) {
  background-color: #98AEB1;
}

.box:nth-child(3) {
  background-color: #6EA79E;
}

/* Under the containers*/
.dropdown-container {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;

}

.dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 20px;
  margin-top: 80px;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  background-color: #ffffff;
  font-family: "Finger Paint", Comfortaa, sans-serif;
  color: #434881;
  font-size: 30px;
}
.contact-info {
  margin-top: 20px;
  font-size: 30px;
}
.social-media a img {
  width: 40px;
  height: auto;
  margin-right: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 40px;
}


