/* Header */
header {
  display: flex;  
  align-items: center;
  justify-content: space-between;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  background: rgba(255, 255, 255, 0);
  box-sizing: border-box;
}
header video, header img {
  width: 300px;
  margin-top: 20px;
  margin-left: 20px;
}

/* Navigation */
nav ul {
  padding-top: 20px;
  list-style: none;
  margin: 0;
  font-family: Comfortaa, sans-serif;
}
nav li {
  padding-bottom: 20px;
  display: inline-block;
  font-family: Comfortaa, sans-serif;
}
nav a {
  color: #627fa3;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 8px;
  font-family: Comfortaa, sans-serif;
  font-size: 30px;
  margin-left: 20px;
}
nav a:hover {
  color: #434881;
}

/* Navbar */
.navbar {
  position: fixed;
  margin: 0;
  padding: 0;
  width: calc(100%);
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: right;
  justify-content: right;
  z-index: 999;
  opacity: 1; 
  transition: opacity 1s ease, top 1s ease; 
}
.navbar.active {
  top: -100px;
  opacity: 0.1;
}

/* MAIN*/
body {
  display: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
  color: #627FA3;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(186, 191, 104, 0.1);
  padding: 20px;
  text-align: center;
  font-size: 20px;
  background-image: radial-gradient(circle at bottom, white, transparent 400%);
  animation: bg 10s infinite alternate linear;
}

@keyframes bg {
  0% { background-color: #D6BBAD; }
  25% { background-color: #98AEB1; }
  50% { background-color: #627FA3; }
  75% { background-color: #6EA79E; }
}
/*containers*/
main {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

h2 {
  font-family: "Finger Paint", Comfortaa, sans-serif;
  color: #6EA79E;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

/* right container*/
.right-container {
  flex: 1.5;
  margin: 40px;
  padding: 20px;
  background-color: #ffffff;
  background-image: url("../image/profile/boxes.png");
  background-repeat: no-repeat;
  background-size: 40% 50%;
  background-position: calc(100% - 3%) calc(100% - 1%);;
  margin-left: 10px;
  border-radius: 10px;
  font-family: Comfortaa, sans-serif; 
  font-size: 20px;
  border: 0px solid #98AEB1;
  position: relative;
}
#boxes-id{
  width: 10%;
}

/* Big Buttons*/
.btn2 {
  color: #ffffff;
  background-color: #6EA79E;
  font-size: 20px;
  margin: 10px;
  padding: 20px;
  border-radius: 10px; 
  border: 0.2px solid #6EA79E; 
}

button.btn2 {
  background-image: url('.');/* ? bckgr  */
  background-repeat: no-repeat;
  background-size:contain; 
  background-position: center; 
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 10px;
  display: block; 
}
#btn2:hover {
  background-color: #627FA3;
}

/* left container*/
.left-container {
  flex: 0.5;
  margin: 40px;
  padding: 20px;
  background-color: #ffffff;
  background-image: url(''); /*  */
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 20px;
  border-radius: 10px;
  font-family: Comfortaa, sans-serif;
  font-size: 20px;
  overflow:hidden;
  height:1%;
  border: 0px solid #98AEB1;
  text-align: start;
}

/* btns to open the rooms and boxes*/
.collapse {
  color: #627fa3;
  margin-left: 0px;
}
.button-container {
  font-family: Comfortaa, sans-serif;
  font-size: 20px;
  margin-left: 0px;
  padding: auto;
 
  
}
.btn-toggle {
  padding: 0;
  font-family: Comfortaa, sans-serif;
  font-size: 20px;
  color: var(--bs-emphasis-color);
  background-color: transparent;
  margin-top: 20px;
  width: 100%;
  margin-left: 0px !important;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: #627FA3;
  background-color: var(--bs-tertiary-bg);
  margin-left: 0px;
}
.btn-toggle::before {
  width: 100%;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
  margin-left: 60px;
}
.btn-toggle[aria-expanded="true"] {
  color: #627FA3;
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}
.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: var(--bs-tertiary-bg);
}

/* For room buttons */

#new-room-btn {
  color: #ffffff;
  background-color: #6EA79E;
  font-size: 20px;
  padding: 15px;
  border-radius: 10px;
  border: 0.2px solid #6EA79E;
}
#new-room-btn:hover {
  background-color: #627FA3;
}
#new-room-form {
  display: none;
  width: 100%;
  margin-bottom: 20px;
}
#room-name-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #6EA79E;
  border-radius: 5px;
  
}
#room-name-input::placeholder {
  color: #999;
}
#room-name-input:focus {
  border-color: #6EA79E !important;
  color: #627FA3 !important; 
  outline: none
}
#create-room {
  background-color: #6EA79E;
  color: #ffff;
  border: none; 
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}
#create-room:hover {
  background-color: #627FA3;
}

/* menu nav in right container*/
#room-name,
.container-name{
  color: #434881;
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
  width: 20%;
  margin-top: 2%;
  margin-right: 1%;
  padding: 10px;
  border: none;
  outline: none;
}
#room-name:hover,.container-name:hover {
  color:  #627FA3!important ;
  background-color:  rgba(101, 169, 124, 0.1);
  border-radius: 10px;
}





.btn-room {
  /* Basic button styles */
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 10px 10px;
  font-family: Comfortaa, sans-serif;
  font-size: 30px;
  color: var(--bs-emphasis-color);
  background-color: transparent;
  text-align: left;
}
.btn-room::before {
  content: ''; 
  display: inline-block;
  width: 20px; 
  height: 20px; 
  margin-right: 30px; 
}



.btn-room:hover,
.btn-room:focus {
  color: #627FA3;
  background-color: var(--bs-tertiary-bg);
  text-align: left;
}
.btn-room::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
  margin-left: 10px;
}
.btn-room[aria-expanded="true"] {
  color: #627FA3;
}
.btn-room[aria-expanded="true"]::before {
  transform: rotate(90deg);
}
.btn-room-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-room-nav a:hover,
.btn-room-nav a:focus {
  background-color: var(--bs-tertiary-bg);
}

/* For furniture buttons */
.btn-furniture {
  font-family: Comfortaa, sans-serif;
  font-size: 20px;
  color: var(--bs-emphasis-color);
  background-color: transparent;
  margin-top: 5px;
  margin-bottom: 0;
}
.btn-furniture::before {
  content: ''; 
  display: inline-block; 
  width: 20px; 
  height: 20px; 
  margin-right: 30px !important; 
}
.btn-furniture:hover,
.btn-furniture:focus {
  color: #627FA3;
  background-color: var(--bs-tertiary-bg);
}
.btn-furniture::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
  margin-left: 20px;
}
.btn-furniture[aria-expanded="true"] {
  color: #627FA3;
  
}
.btn-furniture[aria-expanded="true"]::before {
  transform: rotate(90deg);
}
.btn-furniture-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-furniture-nav a:hover,
.btn-furniture-nav a:focus {
  background-color: var(--bs-tertiary-bg);
}
.scrollarea {
  overflow-y: auto;
}

.dropdown-item:hover {
  background-color: rgba(120, 167, 167, 0.3) !important ;
}
.dropdown-item:active {
  color: #434881;
  background-color: transparent;
  transition: background-color 0.3s ease;
  outline: none;
}
.link-body-emphasis {
  color: #627FA3;
}

.link-item {
  display: inline-flex;
  text-decoration: none;
  color: #6EA79E;
  border-radius: 8px;
  margin-top: 0;
  margin-left: 20%!important; 
  padding: auto;
 
}
.link-item:hover,
.link-item :focus {
  color: #627FA3;
  width: 100%;
  background-color: var(--bs-tertiary-bg);
}

.btn3 {
  color: #ffffff;
  background-color: #6EA79E;
  font-size: 20px;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  border: 0.2px solid #6EA79E;
  /*position: absolute; !* Change to absolute positioning *!*/
  top: 140px; /* Adjust top position as needed */
  right: 20px;
}
.btn3:hover {
  background-color: #627FA3; 
}
/* searching box*/
.boxquest {
  position: relative;
  display: inline-block;
  border: 3px solid #6EA79E;
  border-radius: 10px;
  margin-right: 100px;
  overflow: hidden; 
}
#addbtn {
  position: relative;
    display: flex; 
}
#save-picture-btn {
  color: #ffffff;
  background-color: #6EA79E;
  font-size: 30px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  padding: 20px;
  border-radius: 20px;
  border: 0.2px solid #6EA79E;
}
#save-picture-btn:hover {
  background-color: #627FA3; 
}

.placeholder {
  color: #627FA3;
}
.input {
  padding: 10px;
  width: 80px;
  height: 80px;
  background: none;
  border: none;
  box-sizing: border-box;
  font-family: Comfortaa, sans-serif;
  font-size: 22px;
  color: #627FA3 !important;
  outline: none;
  transition: .4s;
  opacity: 0; 
  overflow: hidden; 
}
.boxquest:hover input {
  width: 350px;
  background: #ffffff;
  border-radius: 10px;
  opacity: 1; 
}
.boxquest i {
  position: absolute;
  top: 50%; 
  right: 30%; 
  transform: translateY(-50%);
  font-size: 26px;
  color: #6EA79E;
  transition: .2s;
}
.boxquest:hover i {
  opacity: 0;
}

/* Modal windows styles*/
.modal {
  display: none; /* Change from 'flex' to 'none' to initially hide the modal */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
  backdrop-filter: blur(8px);
}
#modal-title {
  margin-bottom: 30px;
}
#modal-image {
  max-width: 40%;
  max-height: auto;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 30px;
  border-radius: 20px;
  display: block;
}
#modal-description {
  margin-bottom: 30px;
  font-family: Comfortaa, sans-serif;
  font-size: 20px;
  max-height: auto;
}
.close {
  position: absolute;
  top: 0;
  right: 10px;
  color: #434881;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #627fa3;
  text-decoration: none;
  cursor: pointer;
}

/*BOXES in container*/
.space-container {
  display: flex;
  flex-wrap: wrap;
  font-family: Comfortaa, sans-serif;
  font-size: 20px;
  padding: 2px;
}
.box, .item {
  position: relative;
  width: calc(33.33% - 10px);
  margin: 5px;
  min-height: 210px;
  background-color: rgba(101, 224, 92, 0.5);
  border-radius: 10px;
}
.box {
  display: flex;
  flex-direction: row; /* Stack children vertically */
  align-items: flex-end;
  justify-content: space-between;
}
.box-footer {
  display: flex; /* Use flexbox for layout */
  justify-content: stretch; /* Separate title and icons */
  align-items: center; /* Center align items vertically */
  width: 100%; /* Take full width of the parent */
  padding: 10px;
}
.box title {
  flex-grow: 1; /* Allow the title to take up available space */
  text-align: left; /* Align text to the left */
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5px;
  margin-right: 30px;
}
.box:nth-child(n+4) {
  margin-top: 4px;
}
.box img {
  width: 100%;
  height: auto;
  min-height: 150px;
  border-radius: 10px;
}
.item img {
  width: 100%;
  height: 100%;
  min-height: 150px;
  border-radius: 10px;
}
.item span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5px;
  display: flex;
  align-items: center;
  height: 50px;
}
.box-footer, .item .title {
  background-color: rgba(247, 247, 247, 0.5); /* transparent .title */
}
.edit-box-icon, .delete-box-icon {
  cursor: pointer;
  color: #627fa3; /* Adjust the color to match your design */
  /* Space between icons */
}
.edit-box-icon {
  margin-left: 20px;
}
.delete-box-icon {
  margin-left: 10px;
}
.edit-box-icon:hover, .delete-box-icon:hover {
  color: #434881;
}
#location-info {
  text-align: left;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  outline: none;
}

.dropdown-container {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  margin: 20px;
}
.dropdown-menu {
  position: absolute;
  left: 0;
  bottom: 10%;
}
.dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: left;
  position: fixed;
  width: 5%;
  height: 10%;
  left: 0px;
  bottom: 10px;
}
.rounded-circle {
  width: 150px;
  height: 150px;
  margin-bottom: 140%;
  margin-left: 40%;
  object-fit: fill !important;
  border-radius: 40%; 
}
.fixed-dropdown-container {
  position: fixed;
  bottom: 20px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
  z-index: 1030; /* Ensures it's on top of other content */
}
/*Dropdown menu for adding new item or new place*/
#new-item-menu {
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
#item-name-input, #item-description-input, #place-name-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
}
/*delete icon*/
.delete-icon {
  display: none;
  cursor: pointer;
  color: #6EA79E; /* Bootstrap's danger color */
  margin-left: 10px; /* Spacing from the room name */
}
.delete-icon:hover {
  color: #5d948f; /* A slightly darker red for hover effect */
}
/* When delete mode is active, show the icons */
.delete-mode .delete-icon {
  display: inline-block; /* Show icon in delete mode */
}
.btn5 {
  color: #ffffff;
  background-color: #6EA79E;
  font-size: 20px;
  margin: 10px auto; /* Adjusted to center the button horizontally */
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 10px;
  border: 0.2px solid #6EA79E;
  display: block; /* Ensure the button is treated as a block-level element */
  width: fit-content; 
}
.btn5:hover {
  background-color: #627FA3; 
}

/* Style for the input field when editing */
.title-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #627fa3; /* Just a subtle bottom border */
  color: #000; /* Text color, adjust as necessary */
  padding: 2px 5px;
  box-sizing: border-box;
  width: calc(100% - 10px);
}
.title-input:focus {
  outline: none;
  border-bottom: 2px solid #627fa3; /* Highlight on focus */
}
#assets-navigation-block {
  margin-top: 20px;
}

/* Footer */
footer {
  position:relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0);
  font-family: "Finger Paint", Comfortaa, sans-serif;
  color: #434881;
  font-size: 30px;
  margin: 0; 
}
.contact-info {
  margin-top: 20px;
  font-size: 30px;
}
.social-media a img {
  width: 40px;
  height: auto;
  margin-right: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 40px;
}
/* Style the new item submit button */
.btn4 {
  background-color: #6EA79E; /* Green background */
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.btn4:hover {
  background-color: #5d948f; /* Slightly darker shade of the base color for hover effect */
}
/* Style for the 'OK' button */
.ok-button {
  font-size: 16px;
  color: #627fa3; /* Your project's specific color */
  background-color: transparent;
  border: 2px solid #627fa3; /* Use a color from your project */
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px; /* Space from the input or the title span */
  padding: 4px 8px;
}
.ok-button:hover {
  background-color: rgba(98, 127, 163, 0.1); /* Slightly visible on hover */
}

/*Item window */
.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
#item-window-content {
  padding: 0px;
  width: 60%;
}
.dropdown {
  position: relative;
  display: inline-block;
}
#item-menu {
  position: absolute;
  right: 0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
}
#item-menu a:hover, #item-menu a:focus {
  background-color: #ffffff;
}
#close-item, #more-btn {
  color: #627FA3;
  font-size: 30px;
  font-weight: bold;
}
#close-item:hover,
#close-item:focus,
#more-btn:hover,
#more-btn:focus {
  color: #434881;
  text-decoration: none;
  cursor: pointer;
}
/*Item dropdown menu options handling*/
.new-item-name-div {
  display: none;
}
.item-title-input {
  margin-top: 20px;
  width: 30%;
  margin: 0 auto;
}
.item-title-input .ok-button {
  width: 5%;
}
.modal-content {
  background-color: #ffffff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.picture-modal{
  width: 30px;
  height: 30px; 
}
#current-picture {
  display: block; 
  margin: 0 auto; 
  width: 250px;
  height: 250px;
}

.image-option{
  width: 15%;
  height: 15%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  transition: width 0.3s ease;
}
.image-option:hover {
  width: 20%; 
}

/*New item and new place windows styles */
.modal-window {
  background-color: #ffffff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #ffffff;
  width: 40%;
  height: auto;
  text-align: center;
  position: relative;
}

/*Item new description form*/

.new-item-description-div {
  display: flex !important;
  flex-direction: row; /* Aligns children vertically */
  justify-content: center; /* Centers children horizontally in the container */
  align-items: center; /* Centers children vertically in the container */
  height: 100%;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.new-container-name-div {
  display: none;
}

#new-item-image-input {
  display: none;
}

/*Dropdown menu for searching results*/

#searching-form {
  position: relative;
  display: inline-block;
  width: 100%;
}

.search-input-container {
  position: relative;
  display: inline-block; /* Adjust as needed */
  width: auto; /* Adjust as needed or use specific width */
}

#search-results-dropdown {
  display: none; /* Hide dropdown by default */
  position: absolute;
  left: 0; /* Align to the left edge of the search input */
  right: 0; /* Ensure it stretches to the right edge of the search input */
  top: 100%; /* Position it just below the search input */
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%; /* This makes the width match the search input */
}

#search-results-dropdown a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}

#search-results-dropdown a:hover {
  background-color: #f1f1f1;
}

.no-results-message {
  padding: 10px;
  text-align: center;
  color: #666;
  font-style: italic;
}

/*Box dropdown menu*/

 /*Positioning the 'More' button */
#box-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(10px, 10px); /* Adjust as needed */
}

.box-more-btn {
  color: #627fa3; /* Adjust the color to match your design */
  background-color: transparent;
  border: none;
  padding: 0; /* Removes padding for a more compact look */
}

.box-more-btn::after {
  display: none; /* Hides the caret icon added by Bootstrap */
}
