header {
  display: flex;  
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  padding-right: 20px;
  padding-left: 20px;
  background: rgba(255, 255, 255, 0);
  box-sizing: border-box;
}

#head-logo {
  width: 25%;
}

#head-redirect
{
  width: 25%;
  height: 10%;
  margin-left: -40px !important;
  margin-top: -1%;
}

/* Navigation */
nav ul {
  padding-top: 20px;
  list-style: none;
  margin: 0;
  font-family: Comfortaa, sans-serif;
}
nav li {
  padding-bottom: 20px;
  display: inline-block;
  font-family: Comfortaa, sans-serif;
}
nav a {
  color: #627fa3;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 8px;
  font-family: Comfortaa, sans-serif;
  font-size: 30px;
  margin-left: 20px;
}
nav a:hover {
  color: #434881;
}

/* Navbar */
.navbar {
  position: fixed;
  margin: 0;
  padding: 0;
  width: calc(100%);
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: right;
  justify-content: right;
  z-index: 999;
  opacity: 1; 
  transition: opacity 1s ease, top 1s ease; 
}
.navbar.active {
  top: -100px;
  opacity: 0.1;
}

/* MAIN*/
body {
  margin: 0;
  width: 100%;
  background-color: #ffffff;
  color: #627FA3;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(186, 191, 104, 0.1);
  padding: 20px;
  text-align: center;
  font-size: 20px;
  background-image: radial-gradient(circle at bottom, white, transparent 400%);
  animation: bg 10s infinite alternate linear;
}

@keyframes bg {
  0% { background-color: #D6BBAD; }
  25% { background-color: #98AEB1; }
  50% { background-color: #627FA3; }
  75% { background-color: #6EA79E; }
}
/*containers*/
main {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

h2 {
  font-family: "Finger Paint", Comfortaa, sans-serif;
  color: #6EA79E;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

/* right container*/
.right-container {
  flex: 1;
  margin: 40px 40px 40px 10px;
  padding: 20px;
  background-color: #ffffff;
  background-image: url("../image/profile/boxes.png");
  background-repeat: no-repeat;
  background-size: 40% 50%;
  background-position: calc(100% - 3%) calc(100% - 1%);;
  border-radius: 10px;
  font-family: Comfortaa, sans-serif; 
  font-size: 20px;
  border: 0px solid #98AEB1;
  position: relative;
}
#boxes-id{
  width: 10%;
}

/* Big Buttons*/
.btn2 {
  color: #ffffff;
  background-color: #6EA79E;
  font-size: 20px;
  margin: 10px;
  padding: 20px;
  border-radius: 10px; 
  border: 0.2px solid #6EA79E; 
}

button.btn2 {
  background-image: url('.');/* ? bckgr  */
  background-repeat: no-repeat;
  background-size:contain; 
  background-position: center; 
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 10px;
  display: block; 
}
#btn2:hover {
  background-color: #627FA3;
}

/* left container*/
.left-container {
  flex: 0.5;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 10px 40px 40px;
  padding: 20px;
  background-color: #ffffff;
  background-image: url(''); /*  */
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  font-family: Comfortaa, sans-serif;
  overflow:hidden;
  height:1%;
  border: 0px solid #98AEB1;
  text-align: start;
}

/* btns to open the rooms and boxes*/
.collapse {
  color: #627fa3;
  margin-left: 0px;
}
.button-container {
  font-family: Comfortaa, sans-serif;
  margin-left: 0;
}
.btn-toggle {
  padding: 5px;
  font-family: Comfortaa, sans-serif;
  color: var(--bs-emphasis-color);
  background-color: transparent;
  margin-top: 20px;
  margin-left: 0px !important;
}
.btn-toggle:hover,
.btn-toggle:focus {
  width: 100%;
  color: #627FA3;
  background-color: var(--bs-tertiary-bg);
  margin-left: 0px;
}
.btn-toggle::before {
  width: 100%;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
  margin-left: 60px;
}
.btn-toggle[aria-expanded="true"] {
  color: #627FA3;
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}
.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: var(--bs-tertiary-bg);
}

/* For room buttons */
#new-room-btn {
  color: #ffffff;
  background-color: #6EA79E;
  font-size: 20px;
  padding: 15px;
  border-radius: 10px;
  border: 0.2px solid #6EA79E;
}
#new-room-btn:hover {
  background-color: #627FA3;
}
#new-room-form {
  display: none;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
#room-name-input {
  width: 70%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #6EA79E;
  border-radius: 5px;
}
#room-name-input::placeholder {
  color: #999;
}
#room-name-input:focus {
  border-color: #6EA79E !important;
  color: #627FA3 !important; 
  outline: none
}
#create-room {
  background-color: #6EA79E;
  color: #ffff;
  border: none; 
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}
#create-room:hover {
  background-color: #627FA3;
}

/* menu nav in right container*/
#room-name,
.container-name{
  color: #434881;
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
  margin-top: 2%;
  margin-right: 1%;
  margin-left: 1%;
  padding: 10px;
  border: none;
  outline: none;
}
#room-name:hover,.container-name:hover {
  color:  #627FA3!important ;
  background-color:  rgba(101, 169, 124, 0.1);
  border-radius: 10px;
}

.btn-room {
  /* Basic button styles */
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 10px 10px;
  font-family: Comfortaa, sans-serif;
  font-size: 30px;
  color: var(--bs-emphasis-color);
  background-color: transparent;
  text-align: left;
}
.btn-room::before {
  content: ''; 
  display: inline-block;
  width: 20px; 
  height: 20px; 
  margin-right: 30px; 
}

.btn-room::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
  margin-left: 10px;
}
.btn-room[aria-expanded="true"] {
  color: #627FA3;
}
.btn-room[aria-expanded="true"]::before {
  transform: rotate(90deg);
}
.btn-room-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-room-nav a:hover,
.btn-room-nav a:focus {
  background-color: var(--bs-tertiary-bg);
}

/* For furniture buttons */
.btn-furniture {
  font-family: Comfortaa, sans-serif;
  /*font-size: 20px;*/
  color: var(--bs-emphasis-color);
  background-color: transparent;
  margin-top: 5px;
  margin-bottom: 0;
}
.btn-furniture::before {
  content: ''; 
  display: inline-block; 
  width: 20px; 
  height: 20px; 
  margin-right: 30px;
}
.btn-furniture:hover,
.btn-furniture:focus {
  color: #627FA3;
  background-color: var(--bs-tertiary-bg);
}
.btn-furniture::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
  margin-left: 20px;
}
.btn-furniture[aria-expanded="true"] {
  color: #627FA3;
}
.btn-furniture[aria-expanded="true"]::before {
  transform: rotate(90deg);
}
.btn-furniture-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-furniture-nav a:hover,
.btn-furniture-nav a:focus {
  background-color: var(--bs-tertiary-bg);
}
.scrollarea {
  overflow-y: auto;
}
.dropdown-item:hover {
  background-color: rgba(120, 167, 167, 0.3) !important ;
}
.dropdown-item:active {
  color: #434881;
  background-color: transparent;
  transition: background-color 0.3s ease;
  outline: none;
}
.link-body-emphasis {
  color: #627FA3;
}
.left-items-list {
  text-align: center;
  margin-right: 20%;
}
.link-item {
  display: inline-flex;
  text-decoration: none;
  color: #6EA79E;
  border-radius: 8px;
  margin-top: 0;
  padding: 5px;
  margin-right: 20%;
}
.link-item:hover,
.link-item :focus {
  color: #627FA3;
  background-color: var(--bs-tertiary-bg);
}

/*Left menu buttons*/

.button-container .containers-list .btn-furniture {
  padding-left: 10px;
}
.button-container .containers-list .containers-list .btn-furniture {
  padding-left: 15px;
}
.button-container .containers-list .containers-list .containers-list .btn-furniture {
  padding-left: 20px;
}
.button-container .containers-list .containers-list .containers-list .containers-list .btn-furniture {
  padding-left: 25px;
}
.button-container .containers-list .containers-list .containers-list .containers-list .containers-list .btn-furniture {
  padding-left: 30px;
}
.button-container .containers-list .containers-list .containers-list .containers-list .containers-list .containers-list .btn-furniture {
  padding-left: 35px;
}

/* Set the font size for the top-level 'Hall' button inside '.button-container' */
.button-container .btn-room {
  font-size: 30px;
}
  /* Decrease font size for the first level of nesting: 'Big box' and 'Small box' buttons */
.button-container .containers-list .btn-furniture, .button-container .left-items-list li {
  font-size: 26px;
}
/* Further decrease for items under 'Big box' and 'Small box' */
.button-container .containers-list .left-items-list li, .button-container .containers-list .containers-list .btn-furniture {
  font-size: 22px;
}
/* If there are more nested containers inside 'Big box' or 'Small box', decrease font size more */
.button-container .containers-list .containers-list .containers-list .btn-furniture, .button-container .containers-list .containers-list .left-items-list li {
  font-size: 18px;
}
/* And decrease for items under these further nested containers */
.button-container .containers-list .containers-list .containers-list .containers-list .btn-furniture, .button-container .containers-list .containers-list .containers-list .left-items-list li {
  font-size: 14px;
}
/* Adjust the font size for any further nesting if needed */
.button-container .containers-list .containers-list .containers-list .containers-list .containers-list .btn-furniture, .button-container .containers-list .containers-list .containers-list .containers-list .left-items-list li {
  font-size: 10px;
}
/* Items under these triple nested containers */
.button-container .containers-list .containers-list .containers-list .containers-list .containers-list .containers-list .btn-furniture, .button-container .containers-list .containers-list .containers-list .containers-list .containers-list .left-items-list li {
  font-size: 6px;
}
.btn3 {
  color: #ffffff;
  background-color: #6EA79E;
  font-size: 20px;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  border: 0.2px solid #6EA79E;
  right: 20px;
}
.btn3:hover {
  background-color: #627FA3; 
}
/* searching box*/
.boxquest {
  position: relative;
  display: inline-block;
  border: 3px solid #6EA79E;
  border-radius: 10px;
  margin-right: 100px;
  overflow: hidden; 
}
#save-picture-btn {
  color: #ffffff;
  background-color: #6EA79E;
  font-size: 30px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  padding: 15px;
  border-radius: 20px;
  border: 0.2px solid #6EA79E;
}
#save-picture-btn:hover {
  background-color: #627FA3; 
}

.placeholder {
  color: #627FA3;
}
.input {
  padding: 10px;
  width: 80px;
  height: 80px;
  background: none;
  border: none;
  box-sizing: border-box;
  font-family: Comfortaa, sans-serif;
  font-size: 22px;
  color: #627FA3 !important;
  outline: none;
  transition: .4s;
  opacity: 0; 
  overflow: hidden; 
}
.boxquest:hover input {
  width: 350px;
  background: #ffffff;
  border-radius: 10px;
  opacity: 1; 
}
.boxquest i {
  position: absolute;
  top: 50%; 
  right: 30%; 
  transform: translateY(-50%);
  font-size: 26px;
  color: #6EA79E;
  transition: .2s;
}
.boxquest:hover i {
  opacity: 0;
}
/* Modal windows styles*/
.modal {
  display: none; /* Change from 'flex' to 'none' to initially hide the modal */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
  backdrop-filter: blur(8px);
}
#modal-title {
  margin-bottom: 30px;
}
#modal-image {
  max-width: 40%;
  max-height: auto;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 30px;
  border-radius: 20px;
  display: block;
}
#modal-description {
  margin-bottom: 30px;
  font-family: Comfortaa, sans-serif;
  font-size: 20px;
  max-height: auto;
}
.close {
  position: absolute;
  top: 0;
  right: 10px;
  color: #434881;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #627fa3;
  text-decoration: none;
  cursor: pointer;
}

/*BOXES in container*/
.space-container {
  display: flex;
  flex-wrap: wrap;
  font-family: Comfortaa, sans-serif;
  color: #434881;
  font-size: 20px;
  padding: 2px;
}
.box, .item {
  position: relative;
  width: calc(33.33% - 10px);
  margin: 5px;
  min-height: 210px;
  background-color: rgba(101, 224, 92, 0.5);
  font-weight: 800;
  -webkit-text-stroke-width: 0.3px; 
  -webkit-text-stroke-color: rgba(228, 221, 221, 0.5);
  border-radius: 10px;
}
.box {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.box-footer {
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.box title {
  flex-grow: 1;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5px;
  margin-right: 30px;
}
.box:nth-child(n+4) {
  margin-top: 4px;
}
.box img {
  width: 100%;
  height: auto;
  min-height: 150px;
  border-radius: 10px;
}
.item img {
  width: 100%;
  height: 100%;
  min-height: 150px;
  border-radius: 10px;
}
.item span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
  display: flex;
  align-items: center;
  /*height: 50px;*/
}
.box-footer, .item .title {
  background-color: rgba(247, 247, 247, 0.5);
}
.edit-box-icon, .delete-box-icon {
  cursor: pointer;
  color: #627fa3;
}
.edit-box-icon {
  margin-left: 20px;
}
.delete-box-icon {
  margin-left: 10px;
}
.edit-box-icon:hover, .delete-box-icon:hover {
  color: #434881;
}
#location-info {
  text-align: left;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  outline: none;
}
.dropdown-container {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  margin: 20px;
}
.dropdown-menu {
  position: absolute;
  left: 0;
  bottom: 10%;
}
.dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: left;
  position: fixed;
  width: 5%;
  height: 10%;
  left: 0px;
  bottom: 10px;
}
.rounded-circle {
  width: 150px;
  height: 150px;
  margin-bottom: 140%;
  margin-left: 40%;
  object-fit: fill !important;
  border-radius: 40%; 
}
.fixed-dropdown-container {
  position: fixed;
  bottom: 20px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
  z-index: 1030; /* Ensures it's on top of other content */
}
/*Dropdown menu for adding new item or new place*/
#new-item-menu {
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
#item-name-input, #item-description-input, #place-name-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
}
/*delete icon*/
.delete-icon {
  display: none;
  cursor: pointer;
  color: #6EA79E;
  margin-left: 10px;
}
.delete-icon:hover {
  color: #5d948f;
}

.delete-mode .delete-icon {
  display: inline-block;
}
.btn5 {
  color: #ffffff;
  background-color: #6EA79E;
  font-size: 20px;
  margin: 10px auto;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 10px;
  border: 0.2px solid #6EA79E;
  display: block;
  width: fit-content; 
}
.btn5:hover {
  background-color: #627FA3; 
}

/* Style for the input field when editing */
.title-input {
  background-color: transparent;
  border: none;
  color: #000;
  padding: 2px 5px;
  box-sizing: border-box;
  width: calc(100% - 10px);
}
.title-input:focus {
  outline: none;
}
#assets-navigation-block {
  margin-top: 20px;
}

/* Footer */
footer {
  position:relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0);
  font-family: "Finger Paint", Comfortaa, sans-serif;
  color: #434881;
  font-size: 30px;
  margin: 0; 
}
.contact-info {
  margin-top: 20px;
  font-size: 30px;
}
.social-media a img {
  width: 40px;
  height: auto;
  margin-right: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 40px;
}
/* Style the new item submit button */
.btn4 {
  background-color: #6EA79E; /* Green background */
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.btn4:hover {
  background-color: #5d948f;
  color: white;
  background-color: #5d948f;
}
/* Style for the 'OK' button */
.ok-button {
  font-size: 16px;
  color: #627fa3;
  background-color: transparent;
  border: 2px solid #627fa3;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  padding: 4px 8px;
}
.ok-button:hover {
  background-color: rgba(98, 127, 163, 0.1);
}

/*Item window */
.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
#item-window-content {
  padding: 0px;
  width: 50%;
}
.dropdown {
  position: relative;
  display: inline-block;
}
#item-menu {
  position: absolute;
  right: 0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
}
#item-menu a:hover, #item-menu a:focus {
  background-color: #ffffff;
}
#close-item, #more-btn {
  color: #627FA3;
  font-size: 30px;
  font-weight: bold;
}
#close-item:hover,
#close-item:focus,
#more-btn:hover,
#more-btn:focus {
  color: #434881;
  text-decoration: none;
  cursor: pointer;
}
/*Item dropdown menu options handling*/
.new-item-name-div {
  display: none;
}
.item-title-input {
  margin-top: 20px;
  width: 30%;
  margin: 0 auto;
}
.item-title-input .ok-button {
  width: 5%;
}
.modal-content {
  background-color: #ffffff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.picture-modal{
  width: 30px;
  height: 30px; 
}
#picture-modal .modal-content {
  width: 60%;
}
#current-picture {
  display: block; 
  margin: 0 auto; 
  width: 250px;
  height: 250px;
}
.image-option{
  width: 15%;
  height: 15%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  transition: width 0.3s ease;
}
.image-option:hover {
  width: 20%; 
}

/*New item and new place windows styles */
.modal-window {
  background-color: #ffffff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #ffffff;
  width: 30%;
  height: auto;
  text-align: center;
  position: relative;
}

/*Item new description form*/

.new-item-description-div {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 20px;
}
.hidden {
  display: none;
}
.new-container-name-div.active {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#new-item-image-input {
  display: none;
  margin: 0 auto;
  padding: 10px;
}

/*Dropdown menu for searching results*/

#searching-form {
  position: relative;
  display: inline-block;
  width: 100%;
}
.search-input-container {
  position: relative;
  display: inline-block;
}
#search-results-dropdown {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
}
#search-results-dropdown a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}
#search-results-dropdown a:hover {
  background-color: #f1f1f1;
}
.no-results-message {
  padding: 10px;
  text-align: center;
  color: #666;
  font-style: italic;
}
#right-container-header {
  display: flex;
}

/*Right container header with searching form and 'Add new item' button*/
#right-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
#searching-form {
  display: flex;
  align-items: center;
}

/* Styling for the search input and button to ensure they are aligned properly */
#searching-input {
  min-width: 350px;
  padding: 8px 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
}
#search-button {
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  background-color: #6EA79E;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}
#search-button:hover {
  background-color: #627FA3;
}
#addbtn > button,
#addbtn > a {
  padding: 15px;
  text-align: center;
  font-size: 20px;
  background-color: #6EA79E;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

#addbtn > button:hover,
#addbtn > a:hover {
  background-color: #627FA3;
}
/*Box dropdown menu*/

 /*Positioning the 'More' button */
#box-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(10px, 10px);
}
.box-more-btn {
  color: #627fa3;
  background-color: transparent;
  border: none;
  padding: 0;
}
.box-more-btn::after {
  display: none;
}

/*Confirmation modal*/

#confirmation-modal {
  display: none;
}
.confirmation-window-content {
  width: 30%;
}
#confirmBtn, #cancelBtn {
  width: 40%;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
}

/*User profile picture when there is no picture provided*/
#small-image {
  width: 150px;
  height: 150px;
  border-radius: 40%;
}

/*Notification message modal*/
#notification-message-modal {
  display: none;
}
#notification-message-modal .modal-content {
  width: 40%;
}
#notification-message-modal p {
  margin: 50px;
}

/* Styles for modal windows to change password */
input:-webkit-autofill {
  -webkit-text-fill-color: #627FA3 !important;
  -webkit-caret-color: #627FA3 !important;
  -webkit-box-shadow: 0 0 0 1000px rgb(245, 248, 248) inset !important;
}
.modal-change-password {
  background-color: rgba(120, 117, 117, 0.2); 
}
#changePasswordModalLabel {
  color: #6EA79E;
  font-family: Comfortaa, sans-serif;
  font-size: 30px;
  text-align: left;
  padding: 20px;
  border-color: #6EA79E;
}
#currentPassword,
#newPassword {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  color: #394243;
  border: 2px solid #6EA79E;
  border-radius: 8px;
  outline: none;
}
#currentPassword:focus,
#newPassword:focus {
  border-color: #627FA3 !important;
  color: rgb(102, 99, 99);
  outline: none;
  box-shadow: none; 
}
.modal-change-password .modal-dialog {
  max-width: 500px;
}
.modal-change-password .modal-content {
  background-color: #fff; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}
.modal-change-password .modal-header {
  padding: 15px 20px; 
  border-bottom: 1px solid #e9ecef;
}
.modal-change-password .modal-body {
  padding: 20px; 
}
.modal-change-password .modal-title {
  font-size: 1.25rem; 
  color: #343a40; 
}
.modal-change-password .form-control {
  margin-bottom: 15px; 
}
.modal-change-password .btn-primary {
  background-color: #6EA79E; 
  color: #fff; 
  border: none;
  padding: 15px;
}
.modal-change-password .btn-primary:hover {
  background-color: #166c5f; 
}
.modal-change-password .close {
  position: absolute;
  top: 0;
  right: 10px;
  color: #434881;
  font-size: 30px;
  font-weight: bold;
  outline: none;
  border: none;
  background-color: transparent;
}
.modal-change-password .close:hover,
.close:focus {
  color: #627fa3;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  border: none;
  background-color: transparent;
}
/* Input styles */
#changePasswordModal input[type="text"],
#changePasswordModal input[type="email"],
#changePasswordModal input[type="password"] {
  text-align: left;
  padding: 10px;
  margin-bottom: 25px;
  width: 80%;

  color: #394243;
  border: 2px solid #6EA79E;
  border-radius: 8px;
  outline: none;
}
#changePasswordModal input[type="submit"] {
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: center;
  width: 330px;
  height: 40px;
  color: #394243;
  border-width: 0px;
  border-radius: 8px;
  background-color: #6EA79E;
  color: white;
}
#changePasswordModal input[type="text"]:first-child {
  margin-top: 40px;
  text-align: left;
  color: #394243;
  padding-left: 10px;
  outline: none;
}
#changePasswordModal input[type="text"]:focus,
#changePasswordModal input[type="email"]:focus,
#changePasswordModal input[type="password"]:focus {
  border-color: #627FA3 !important;
  color: rgb(102, 99, 99);
}

/* Highlighted item style */

.item.found {
  background-color: rgba(101, 224, 92, 0.75);
  box-shadow: 0 0 15px rgba(101, 224, 92, 0.9);
  animation: pulse 3s ease-out;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 10px rgba(101, 224, 92, 0.9);
  }
  50% {
    box-shadow: 0 0 20px rgba(101, 224, 92, 1);
  }
  100% {
    box-shadow: 0 0 10px rgba(101, 224, 92, 0.9);
  }
}

/*Modal window for successful changing password*/
#success-change-password-modal {
  display: none;
}
/*Invalid password message*/
#invalid-password-message, #weak-password-message {
  display: none;
  font-size: 15px;
  color: #c67373;
}

@media (max-width: 1157px) {
  body {
    font-size: 18px;
  }

  header {
    padding-left: 10px;
    padding-right: 10px;
  }

  nav ul {
    padding: 0;
  }

  nav li {
    padding-bottom: 0;
  }

  nav a {
    font-size: 25px;
  }

  h2 {
    font-size: 35px;
  }

  .left-container {
    margin-left: 20px;
  }

  .right-container {
    margin-right: 20px;
  }
  /* Set the font size for the top-level 'Hall' button inside '.button-container' */
  .button-container .btn-room {
    font-size: 26px;
  }
  /* Decrease font size for the first level of nesting: 'Big box' and 'Small box' buttons */
  .button-container .containers-list .btn-furniture, .button-container .left-items-list li {
    font-size: 22px;
  }
  /* Further decrease for items under 'Big box' and 'Small box' */
  .button-container .containers-list .left-items-list li, .button-container .containers-list .containers-list .btn-furniture {
    font-size: 18px;
  }
  /* If there are more nested containers inside 'Big box' or 'Small box', decrease font size more */
  .button-container .containers-list .containers-list .containers-list .btn-furniture, .button-container .containers-list .containers-list .left-items-list li {
    font-size: 14px;
  }
  /* And decrease for items under these further nested containers */
  .button-container .containers-list .containers-list .containers-list .containers-list .btn-furniture, .button-container .containers-list .containers-list .containers-list .left-items-list li {
    font-size: 10px;
  }
  /* Adjust the font size for any further nesting if needed */
  .button-container .containers-list .containers-list .containers-list .containers-list .containers-list .btn-furniture, .button-container .containers-list .containers-list .containers-list .containers-list .left-items-list li {
    font-size: 6px;
  }
  /* Items under these triple nested containers */
  .button-container .containers-list .containers-list .containers-list .containers-list .containers-list .containers-list .btn-furniture, .button-container .containers-list .containers-list .containers-list .containers-list .containers-list .left-items-list li {
    font-size: 2px;
  }

  .right-container {
    font-size: 18px;
  }

  #right-container-header {
    padding: 0;
  }

  #searching-input {
    min-width: 300px;
  }

  #addbtn > button, #new-room-btn, .btn5 {
    padding: 10px;
    font-size: 18px;
  }

  footer {
    font-size: 25px;
  }

  .social-media a img {
    width: 30px;
    height: auto;
  }
}

@media (max-width: 970px) {
  body {
    padding: 10px;
  }

  .left-container {
    margin-left: 10px;
    padding: 10px;
  }

  .btn-room {
    margin: 0;
  }

  .btn-room::before, .btn-furniture::before {
    width: 0.7em;
    margin-left: 0;
    margin-right: 20px;
  }

  .right-container {
    margin-right: 10px;
  }
}

@media (max-width: 935px) {
  header {
    align-items: flex-start;
    padding-left: 0;
    padding-right: 0;
  }

  #head-logo {
    width: 40%;
  }

  nav ul a {
    margin: 0;
    padding: 3px 5px;
    font-size: 20px;
  }

  nav li {
    margin-top: 5px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .navbar_nav {
    padding-right: 10px;
  }

  #right-container-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .right-container h2 {
    margin-bottom: 30px;
  }

  #searching-form {
    justify-content: center;
  }

  #addbtn {
    margin-top: 10px;
  }

  #addbtn > button {
    margin-top: 20px;
    padding: 15px;
  }
}

@media (max-width: 768px) {
  #small-image  {
    margin-left: 0;
  }

  .modal-content {
    width: 70%;
  }

  .modal-window {
    width: 50%;
  }

  #current-picture {
    width: 180px;
    height: 180px;
  }

  #save-picture-btn {
    font-size: 18px;
    padding: 10px;
    width: 35%;
  }

  #changePasswordForm input {
    width: 50%;
    height: auto;
  }

  .modal-change-password .btn-primary {
    padding: 10px;
    margin-top: 5px;
  }

  main {
    flex-direction: column;
  }

 .left-container, .right-container {
   margin: 20px 60px 20px 60px;
 }

  .left-container {
    margin-top: 40px;
    padding-bottom: 20px;
  }

  .left-container h2 {
    margin-bottom: 30px;
  }

  #room-name-input {
    width: 60%;
    margin: 0 40px 20px 40px;
    padding: 5px;
  }

  button.btn2 {
    margin-top: 30px;
  }

  .btn5 {
    margin-bottom: 50px;
  }

  .button-container {
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
  }

  .right-container {
    font-size: 15px;
    padding: 10px;
  }

  #searching-input {
    min-width: 260px;
  }

  #addbtn > button, #new-room-btn, .btn5 {
    padding: 10px;
    /*font-size: 15px;*/
  }

  .item, .box {
    min-height: 170px;
  }

  .space-container {
    font-size: 15px;
  }

  #small-image {
    width: 100px;
    height: 100px;
  }

  footer {
    font-size: 15px;
    padding: 5px;
  }

  .social-media a img {
    width: 20px;
    height: auto;
    margin-right: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
  }

  /* Set the font size for the top-level 'Hall' button inside '.button-container' */
  .button-container .btn-room {
    font-size: 22px;
  }
  /* Decrease font size for the first level of nesting: 'Big box' and 'Small box' buttons */
  .button-container .containers-list .btn-furniture, .button-container .left-items-list li {
    font-size: 18px;
  }
  /* Further decrease for items under 'Big box' and 'Small box' */
  .button-container .containers-list .left-items-list li, .button-container .containers-list .containers-list .btn-furniture {
    font-size: 14px;
  }
  /* If there are more nested containers inside 'Big box' or 'Small box', decrease font size more */
  .button-container .containers-list .containers-list .containers-list .btn-furniture, .button-container .containers-list .containers-list .left-items-list li {
    font-size: 10px;
  }
  /* And decrease for items under these further nested containers */
  .button-container .containers-list .containers-list .containers-list .containers-list .btn-furniture, .button-container .containers-list .containers-list .containers-list .left-items-list li {
    font-size: 6px;
  }
  /* Adjust the font size for any further nesting if needed */
  .button-container .containers-list .containers-list .containers-list .containers-list .containers-list .btn-furniture, .button-container .containers-list .containers-list .containers-list .containers-list .left-items-list li {
    font-size: 2px;
  }
  /* Items under these triple nested containers */
  .button-container .containers-list .containers-list .containers-list .containers-list .containers-list .containers-list .btn-furniture, .button-container .containers-list .containers-list .containers-list .containers-list .containers-list .left-items-list li {
    font-size: 2px;
  }

}

@media (max-width: 600px) {
  .modal-window {
    width: 60%;
  }

  body {
    font-size: 15px;
  }

  #addbtn > button, #new-room-btn, .btn5 {
    padding: 10px;
    font-size: 15px;
  }

  .left-container, .right-container {
    margin: 20px 30px 20px 30px;
  }
}

@media (max-width: 500px) {
  .left-container, .right-container {
    margin: 10px 45px 10px 45px;
    padding: 5px;
  }

  header {
    margin-bottom: 10px;
  }

  h2, #changePasswordModalLabel {
    font-size: 25px;
  }

  #searching-input {
    min-width: 200px;
    padding: 3px;
  }

  .search-input-container input::placeholder {
    font-size: 12px;
  }

  #addbtn > button, #new-room-btn, .btn5, #search-button, #save-picture-btn, #create-room, .ok-button {
    padding: 6px;
    font-size: 15px;
  }

  #new-room-form {
    margin-bottom: 10px;
  }

  #room-name-input {
    margin: 0 40px 10px 40px;
  }

  #current-picture {
    width: 120px;
    height: 120px;
  }

  #new-item-menu, #box-menu, #item-menu {
    padding: 0;
  }

  #new-item-menu a, #box-menu a, #item-menu a {
    text-align: center;
    padding: 4px;
    font-size: 15px;
  }

  .new-item-name-div {
    margin-bottom: 10px;
  }

  .item-title-input {
    width: 40%;
  }

  #modal-description {
    font-size: 15px;
  }

  #close-item, #more-btn {
    font-size: 25px;
  }

  .space-container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .box, .item {
    width: 40%;
  }

  /* Set the font size for the top-level 'Hall' button inside '.button-container' */
  .button-container .btn-room {
    font-size: 20px;
  }
  /* Decrease font size for the first level of nesting: 'Big box' and 'Small box' buttons */
  .button-container .containers-list .btn-furniture, .button-container .left-items-list li {
    font-size: 16px;
  }
  /* Further decrease for items under 'Big box' and 'Small box' */
  .button-container .containers-list .left-items-list li, .button-container .containers-list .containers-list .btn-furniture {
    font-size: 12px;
  }
  /* If there are more nested containers inside 'Big box' or 'Small box', decrease font size more */
  .button-container .containers-list .containers-list .containers-list .btn-furniture, .button-container .containers-list .containers-list .left-items-list li {
    font-size: 8px;
  }
  /* And decrease for items under these further nested containers */
  .button-container .containers-list .containers-list .containers-list .containers-list .btn-furniture, .button-container .containers-list .containers-list .containers-list .left-items-list li {
    font-size: 4px;
  }
  /* Adjust the font size for any further nesting if needed */
  .button-container .containers-list .containers-list .containers-list .containers-list .containers-list .btn-furniture, .button-container .containers-list .containers-list .containers-list .containers-list .left-items-list li {
    font-size: 2px;
  }
  /* Items under these triple nested containers */
  .button-container .containers-list .containers-list .containers-list .containers-list .containers-list .containers-list .btn-furniture, .button-container .containers-list .containers-list .containers-list .containers-list .containers-list .left-items-list li {
    font-size: 2px;
  }
}

@media (min-width: 320px) and (max-width: 400px) {
  body {
    padding: 5px;
  }

  #item-window-content, .modal-content {
    width: 80%;
  }

  .modal-content {
    padding: 10px;
  }

  .modal-header, .modal-body {
    padding: 0;
  }

  #changePasswordModal input[type="text"], #changePasswordModal input[type="email"], #changePasswordModal input[type="password"]  {
    width: 90%;
  }

  .left-container, .right-container {
    margin: 10px;
  }

  .btn5 {
    margin-bottom: 30px;
  }

  .box, .item {
    width: 45%;
  }

  #small-image {
    width: 80px;
    height: 80px;
  }

  #head-logo {
    width: 40%;
  }

  nav ul {
    padding-right: 10px;
  }

  nav ul a {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  .modal-window {
    width: 75%;
  }

  #room-name-input {
    width: 70%;
  }

  footer {
    font-size: 15px;
    padding: 5px;
  }

  .social-media a img {
    width: 15px;
    height: auto;
    margin-right: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
  }

}