/* Header */
.header-active {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  background: rgba(255, 255, 255, 0);
  box-sizing: border-box;
}
#head-logo {
  width: 25%;
  height: 10%;
  /*margin-left: -40px !important;*/
  /*margin-top: -1%;*/
}
#head-redirect
{
  width: 25%;
  height: 10%;
}
.header-hidden {
  display: none;
}
#loggedHeader {
  opacity: 1; 
  transition: opacity 1s ease, top 1s ease; ; 
}
#loggedHeader.active {
  top: -100px;
  opacity: 0.1;
}

/* Navigation */
nav ul {
  padding-top: 40px;
  list-style: none;
  margin: 0;
  font-family: Comfortaa, sans-serif;
}
nav li {
  padding-top: 0px;
  display: inline-block;
  font-family: Comfortaa, sans-serif;
}
nav a {
  color: #627fa3;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 8px;
  font-family: Comfortaa, sans-serif;
  font-size: 30px;
  margin-left: 20px;
}
nav a:hover {
  color: #434881;
}
.navbar {
  position: fixed;
  top: 0;
  right: 40px;
  width: calc(100%);
  display: flex;
  align-items: right;
  justify-content: right;
  z-index: 999;
  opacity: 1; 
  transition: opacity 1s ease, top 1s ease; 
}
.navbar.active {
  top: -100px;
  opacity: 0.1;
}

/* REGISTRATION FORM*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* opacity */
  backdrop-filter: blur(8px);
  outline: none;
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid #98AEB1;
  text-align: center;
  font-family: Comfortaa, sans-serif;
  color:#627FA3;
  border-radius: 10px;
  outline: none;
  width: 40%;
}

.modal-content h2 {
  margin-top: 20px; 
  margin-bottom: 0px;
}

/* The Close Button */
.close {
  position: absolute; 
  top: 10px; 
  right: 20px; 
  color: #627FA3;
  float: left;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Input styles */
input:-webkit-autofill {
  -webkit-text-fill-color: #627FA3 !important;
  -webkit-caret-color: #627FA3 !important;
  -webkit-box-shadow: 0 0 0 1000px rgb(245, 248, 248) inset !important;
}

input[type="text"] {
  text-align: center;
  margin-bottom: 25px;
  width: 80%;
  height: 40px;
  color: #394243;
  border: 2px solid #6EA79E;
  border-radius: 8px;
  outline: none;
  text-decoration: none;
}
input[type="email"] {
  text-align: left;
  padding-left: 10px;
  margin-bottom: 25px;
  width: 80%;
  height: 40px;
  color: #394243;
  border: 2px solid #6EA79E;
  border-radius: 8px;
   outline: none;
}
input[type="password"] {
  text-align: left;
  padding-left: 10px;
  margin-bottom: 25px;
  width: 80%;
  height: 40px;
  color: #394243;
  border: 2px solid #6EA79E;
  border-radius: 8px;
  outline: none;
}
input[type="submit"] {
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: center;
  width: 80%;
  height: 40px;
  color: #394243;
  border-width: 0px;
  border-radius: 8px;
  background-color: #6EA79E;
  color: white;
}
input[type="text"]:first-child {
  margin-top: 40px;
  text-align: left;
  color: #394243;
  padding-left: 10px;
  outline: none;
}


input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #627FA3 !important;
  color: rgb(102, 99, 99); 
  
  
}
#loginLink {
  text-decoration: none;
  font-weight: bold;
}
#switchToSignup {
  color: #6EA79E;
  text-shadow: 6px 6px 8px rgb(255, 255, 255);
  text-decoration: none;
}
#switchToLogin {
  color: #6EA79E;
  text-shadow: 6px 6px 8px rgb(255, 255, 255);
  text-decoration: none;
}

/* The Close Button */
.closeLoginForm {
  position: absolute; 
  top: 1px; 
  right: 20px; 
  color: #627FA3;
  float: left;
  font-size: 28px;
  font-family: Comfortaa, sans-serif;
  font-weight: bold;
  text-align: center;
}
.closeLoginForm:hover,
.closeLoginForm:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#loginModal input[type="text"],
#loginModal input[type="password"] {
  text-align: left;
  font-family: Comfortaa, sans-serif;
  padding: 20px;
  border-color: #6EA79E;
  color: rgb(102, 99, 99); 
}

#forgotPasswordParagraph a {
  text-align: left;
  display: block;
  padding: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Comfortaa, sans-serif;
  outline: none;
  color: #627FA3;
  text-shadow: 6px 6px 8px rgb(255, 255, 255);
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
  color: #627FA3;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(186, 191, 104, 0.);
  padding: 20px;
  text-align: center;
  font-size: 20px;
  background-image: radial-gradient(circle at bottom, white, transparent 350%);
  animation: bg 10s infinite alternate linear;
}

@keyframes bg {
  0% { background-color: #D6BBAD; }
  25% { background-color: #98AEB1; }
  50% { background-color: #627FA3; }
  75% { background-color: #6EA79E; }
}
  
/* Main */
.slogan {
  position: relative;
  width:  clamp(150px, 100%, 100%);
  height: 700px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0); 
  display: flex;
  justify-content: center;
  align-items: center; 
  color: #627FA3;
  font-family: Comfortaa, sans-serif;
  font-size: 80px;
  text-align: center; 
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 1);
}
@keyframes color-change {
  33.33% { color: #6EA79E; }
  66.66% { color: #627FA3; }
}

.highlightName {
  font-family: "Finger Paint", Comfortaa, sans-serif;
  animation: color-change 10s ease-in-out infinite alternate;
  text-shadow: 6px 6px 8px rgb(255, 255, 255);
}

/*how it works*/
.instruction {
  padding: 20px; 
  text-align: center; 
  box-sizing: border-box; 
}
.instruction h3 {
  margin-bottom: 5%; 
}
#subTitle {
  color: #627FA3;
  font-family: Comfortaa, sans-serif;
  font-size: 80px;
  text-shadow: 6px 6px 8px rgb(255, 255, 255);
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px; 
  padding: 0 20px; 
  margin: 0 auto; 
  max-width: 100%;
}


.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 5%; 
}
#room-pic {
  width: 90%;
  height: 90%;
}


/*select an item*/

.item {
  background: rgba(255, 255, 255, 255);
  border-radius: 20px;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: auto;
  overflow: hidden;
  align-items: center;
}


.item-content {
  padding: 20px;
  text-align: center;
}
.item p {
  color: #627FA3; 
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.9);
  font-size: 40px; 
  margin: 10px 0; 
  text-align: center;
}
/*instruction's pictures*/
.item .item-textdex,
.item .item-textsecond,
.item .item-textlast,
.item .item-textthird {
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.9);
  font-size: 24px; 
  margin-bottom: 5% !important;
  margin-right: 4%!important; 
  margin-left: 3% !important; 
}
.item .item-textthird
{
margin-bottom: 18%  !important; 
margin-right: 3% !important; 
margin-left: 3% !important; 
}
.item .item-textlast 
{
margin-bottom: 9%  !important;
margin-right: 3% !important; 
margin-left: 3% !important; 
}
#select-pic {
  width: 100%; 
  border-radius: 20px; 
  padding: 2%; 
}
#capture-pic {
  width: 100%; 
  height: 50%;
  border-radius: 20px; 
  padding: 2%;  
}
#mark-pic {
  width: 80%; 
  height: 60%;
  border-radius: 20px; 
  padding: 2%; 
}
#voila-pic{
  width: 80%; 
  height: 60%;
  margin-bottom: 5%;
  border-radius: 20px; 
  padding: 2%; 
}

/*how it helps*/
.howItHelps {
  padding: 50px 20px; 
  width: 100%; 
  height: 100%;
  text-align: center; 
  color: #627FA3;
  font-size: 20px;
}
.howItHelps h3 {
  margin-bottom: 80px; 
  margin-top: 80px;
}
.wrapper2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.column2 {
  text-align: center;
  background-color: #ffffff;
  color: #627FA3;
  border-radius: 20px;
  padding: 50px;
  font-size: 20px;
}

.column h4 {
  color:#627FA3; 
  margin-bottom: 25px;
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.9);
}
.column p {
  color: #434881; 
  font-size: 20px; 
  margin-bottom: 25px;
}

#help-img {
  width: 10%;
  height: 10%;
  margin-bottom: 10%;
  margin-top: 10%;
}

/* feedback*/
.feedback {
  padding: 50px 20px; 
  text-align: center; 
  font-size: 22px;
}

.feedback h3 {
  margin-bottom: 30px; 
  font-size: 40px;
  color: #434881;
}

.wrapper2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.column {
  background-color: #ffffff;
  border-radius: 30px;
  
  padding: 20px;
  text-align: center; 
}
.column h4 {
  color:#627FA3; 
  margin-bottom: 15px;
  
}
.column p {
  color: #434881; 
  font-size: 18px; 
}
/*Our team*/
.ourTeam {
  padding: 80px 20px; 
  text-align: center; 
}
.ourTeam h3 {
  margin-bottom: 30px; 
  font-size: 40px;
}
.team-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.team-member {
  flex: 1;
  margin: 15px;
  max-width: 250px;
  text-align: center;
}
.team-member img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 15px;
}
.team-member h4 {
  margin-bottom: 10px;
  font-size: 38px;
  color: #6EA79E;
  align-items: center;
  text-shadow: 2px 2px 4px rgba(106, 106, 106, 0.4);
}

.team-member p {
  margin-bottom: 0;
  color: #434881;
}
.feedback-img {
  width: 50%;
}

/*Back to top button*/
.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: transparent;
}

button {
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: #6EA79E;
  background-image: linear-gradient(315deg, #6EA79E 0%, #D6BBAD 100%);
  border: none;
  border-radius: 50%;
  transition: 200ms;
  margin-bottom: 3%;
}

button svg {
  fill: white;
  width: 30px;
  height: 30px;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}

.footer-content {
  margin-bottom: 3%;
}

.footer-content p {
  color: #627FA3;
  font-family: Comfortaa, sans-serif;
}

#backToTopButton {
  font-size: 25px;
  transition: 200ms;
  font-weight: bold;
  margin-bottom: 1%;
}

button:hover {
  box-shadow: 0 1px 5px rgba(0,0,0,1  );
  width: 80px;
  height: 80px;
}

button:hover::before {
  color: #fff;
}

button:hover svg {
    animation: bounce 2s infinite linear;
}

@keyframes bounce {
  0% {transform: translateX(-50%) translateY(-50%)}
  25% {transform: translateX(-50%) translateY(-65%)}
  50% {transform: translateX(-50%) translateY(-50%)}
  75% {transform: translateX(-50%) translateY(-35%)}
  100% {transform: translateX(-50%) translateY(-50%)}
}

button:focus {
  outline: none;
}




/* Footer */
footer {
  position:relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0);
  font-family: "Finger Paint", Comfortaa, sans-serif;
  color: #434881;
  font-size: 30px;
  margin: 0; 
}
.contact-info {
  margin-top: 20px;
  font-size: 30px;
}
.social-media a img {
  width: 40px;
  height: auto;
  margin-right: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 40px;
}

/*Modal window for successful registration message*/

#success-login-modal {
  display: none;
}

#success-login-modal h2, #success-login-modal p {
  margin: 20px;
}

/*Weak password message in the signup modal window */

#weak-password-message, #warning-message, #invalid-credentials-message {
  display: none;
  font-size: 15px;
  color: #c67373;
}


#password-restrictions {
  font-size: 15px;
}

/*Notification message modal*/
#notification-message-modal {
  display: none;
}
#notification-message-modal .modal-content {
  width: 40%;
}
#notification-message-modal p {
  margin: 50px;
}


/* Media queries for tablet devices */
@media (min-width: 768px) and (max-width: 991px) {
  .header-active {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }

  #password-restrictions {
    padding: 0 10px;
  }

  #head-logo {
    width: 35%;
  }

  .navbar {
    position: relative;
    right: 0;
  }
  
  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0;
    padding-left: 0;
  }

  nav a {
    font-size: 25px;
    margin: 0;
    text-align: center;
  }

  .modal-content {
    width: 50%;
  }

  .feedback p, .howItHelps .column, .item .item-textdex,
  .item .item-textsecond,
  .item .item-textlast,
  .item .item-textthird {
    font-size: 20px;
  }

  .item p, .column h4, .feedback h4  {
    font-size: 25px;
  }

  #howItWorksSection .item {
    display: flex;
    flex-direction: column;
  }

  .howItHelps .wrapper, #feedbackSection .wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .howItHelps .wrapper .column, .feedback .wrapper .column2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    padding: 15px;
    width: 30%;
  }

  .feedback h4 {
    margin-bottom: 10%;
  }

  #help-img {
    width: 30%;
    height: auto;
  }

  .slogan, #subTitle {
    font-size: 50px;
  }

  .item img {
    max-width: 50%;
  }

  .item-content {
    padding: 10px; /* Reduce padding inside items */
  }

  .column2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
  }


}

/* Media queries for mobile devices */
@media (max-width: 770px) {
  .modal-content {
    width: 60%;
  }

  body {
    padding: 15px;
  }

  .header-active {
    padding: 0;
    flex-direction: row;
    justify-content: stretch;
  }

  .header-active {
    padding: 5px;
    align-items: start;
  }

  #head-logo, #head-redirect {
    width: 40%;
    padding-top: 8px;
    margin-left: 0;
  }

  .navbar {
    position: relative;
    right: 0;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  nav ul a {
    margin: 0;
    font-size: 20px;
  }

  nav li {
    margin-bottom: 5px;
  }

  .navbar_nav {
    padding-right: 10px;
  }

  #feedbackSection {
    padding: 10px;
  }

  #howItWorksSection .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  #select-pic, #capture-pic, #mark-pic, #voila-pic {
    width: 50%;
    height: auto;
  }

  .item {
    max-width: 80%;
  }

  .item:first-child {
    font-size: 20px;
  }

  .item p {
    font-size: 25px;
    margin-top: 0;
  }

  .item-content {
    padding: 5px;
  }

  .item-text {
    margin-top: 0;
  }

  .item .item-textdex, .item .item-textsecond, .item .item-textlast, .item .item-textthird {
    font-size: 17px;
  }

  .howItHelps .wrapper, .feedback .wrapper, .team-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .howItHelps .wrapper .column, .feedback .wrapper .column2, .team-member, .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    padding: 15px;
    font-size: 3vw;
  }

  .column h4 {
    font-size: calc(1.275rem + .3vw);
  }

  .feedback h3 {
    margin-bottom: 80px;
    margin-top: 80px;
  }

  .ourTeam h4 {
    font-size: calc(1.275rem + .3vw)
  }

  .modal {
    font-size: 16px;
  }

  .modal h2 {
    font-size: 24px;
  }

  .slogan {
    font-size: 30px;
    padding: 10px;
    height: 300px;
  }

  #subTitle {
    font-size: 30px;
  }

  .column2 {
    padding: 10px;
    min-width: 45%;
  }

  .column2 {
  calc(1.275rem + .3vw)
  }

  .feedback, .howItHelps {
    padding: 20px;
  }

  button {
    width: 60px;
    height: 60px;
  }

  footer {
    font-size: 15px;
    padding: 5px;
  }

  .social-media a img {
    width: 15px;
    height: auto;
    margin-right: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
  }

  #backToTopButton {
    width: 25px;
    height: 25px;
  }

  button svg {
    width: 15px;
    height: 15px;
  }
}

@media (min-width: 1600px) {
  .column2 {
    padding: 20px;
  }

  .feedback-author{
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1140px) {
  .wrapper {
    justify-content: center;
  }

  #howItWorksSection .wrapper {
    grid-template-columns: repeat(2, 400px);
    justify-content: center;
    gap: 40px;
  }

  #feedbackSection .wrapper {
    align-items: stretch;
    justify-items: stretch;
  }

  .column2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }

  .column2 img {
    width: 60%;
  }

  .slogan, #subTitle {
    font-size: 60px;
  }
}


@media (min-width: 991px) and (max-width: 1024px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }

  nav ul {
    padding: 0;
  }

  .navbar {
    position: relative;
    right: 0;
    flex-direction: row;
    align-items: center;
  }

  #howItWorksSection .wrapper {
    grid-template-columns: repeat(2, 400px);
    justify-content: center;
    gap: 30px;
  }

  #howItWorksSection .item {
    display: flex;
    flex-direction: column;
  }

  #feedbackSection .wrapper {
    align-items: stretch;
    justify-items: stretch;
  }

  .slogan {
    height: 550px;
  }
}

@media (max-width: 550px) {
  .modal-content {
    width: 70%;
  }

}

@media (min-width: 320px) and (max-width: 400px) {
  body {
    padding: 5px;
  }

  .modal-content {
    width: 80%;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
  }

  .header-active {
    padding: 5px;
    align-items: start;
  }

  #head-logo {
    width: 40%;
    padding-top: 8px;
  }

  .navbar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  nav ul a {
    font-size: 16px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
  }

  .slogan {
    height: 300px;
  }

  .slogan, #subTitle {
    font-size: 25px;
  }

  .item p {
    font-size: 12px;
  }

  .item-content {
    padding: 5px;
  }

  .item .item-textdex, .item .item-textsecond, .item .item-textlast, .item .item-textthird  {
    font-size: 13px;
  }

  .howItHelps h3{
    padding: 20px 5px;
    margin: 0;
  }

  .howItHelps {
    padding: 0;
  }

  .howItHelps .wrapper {
    padding: 0 20px;
  }

  .column h4 {
    font-size: 14px;
  }

  .column2 p {
    font-size: 3vw;
  }

  .column2 h4 {
    font-size: 14px;
  }

  .team-wrapper {
    font-size: 3vw;
  }

  #help-img {
    width: 15%;
    height: auto;
  }

  .team-wrapper h4 {
    font-size: 14px;
  }

  .team-member {
    margin: 2px;
  }

  footer {
    font-size: 15px;
    padding: 5px;
  }

  .social-media a img {
    width: 15px;
    height: auto;
    margin-right: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
  }

  #backToTopButton {
    width: 25px;
    height: 25px;
  }

  button svg {
    width: 15px;
    height: 15px;
  }
}